.menu-button:disabled {
  background-color: pink;
}

.admin-menu:after {
  display: none;
}

.navigation-tab:hover {
  background: rgba(255, 255, 255, 0.18)
}

.navigation-tab.selected {
  background: rgba(255, 255, 255, 0.3)    
}

.navigation-panel {
  display: none;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;  
}

.navigation-panel.display-block {
  display: block;
}

.navigation-panel.open {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.navigation-menu {
  opacity: 0;
  -webkit-transform: translateY(-78%);
  -moz-transform: translateY(-78%);
  -o-transform: translateY(-78%);
  transform: translateY(-78%);
  -webkit-transition: 350ms ease-in-out;
  -moz-transition: 350ms ease-in-out;
  -o-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;  
}

.navigation-menu.display-flex {
  display: flex;
}

.navigation-menu.open {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.navigation-menu.index {
  z-index: 100;
}

@media screen and (min-width: 768px){
  .navigation-menu {
    display: flex;
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .navigation-panel {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  .menu-button {
    pointer-events: none;
  }       
}
