/*table*/
.table {
   border-collapse: collapse;
   border: 1px solid black;
   width: 100%;
   margin-right: 10%;
}

.tableRowHeader {
   background-color: #ffffff;
   transition: all 0.25s ease;
   border-radius: 2px;
}

.tableHeader {
   background-color: #cfd4ed;
   padding: 12px;
   text-align: left;
   color: #000000;
   font-weight: 700;
   font-size: 14px;
}

.tableHeader:first-child {
   border-top-left-radius: 2px;
}

.tableHeader:last-child {
   border-top-right-radius: 2px;
}

.tableRowItems {
   cursor: auto;
   background-color: #fcfcfc;
}

.tableRowItems:nth-child(odd) {
   background-color: #fcfcfc;
}

.tableCell {
   padding: 12px;
   font-size: 14px;
   color: #000000;
}

/*penggabungannya*/
.container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100vw;
}

.wrapper {
   width: 75vw;
}

/*footer table*/
.tableFooter {
   background-color: #f1f1f1;
   padding: 8px 0px;
   width: 100%;
   font-weight: 500;
   text-align: left;
   font-size: 16px;
   color: #2c3e50;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.button {
   border: none;
   padding: 7px 14px;
   border-radius: 10px;
   cursor: pointer;
   margin-right: 4px;
   margin-left: 4px;
}

.activeButton {
   color: #0d28a6;
   background: #cfd4ed;
}

.inactiveButton {
   color: #8a8a8a;
   background: #ffffff;
}
