.login-panel {
	width: 100%;
}

@media screen and (min-width: 768px) {
	.login-panel {
		max-width: 30.125rem;
	}
}

.binar-logo {
	width: 100px;
	height: 34px;
	background: #cfd4ed;
	margin-bottom: 1.75rem;
}

.form-control.tab--invalid {
	border-color: #dc3545 !important;
}

.form-control.tab--invalid:focus {
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}

.special_modal .modal-content {
	background-color: green;
	color: #fff;
}

#image.form-control {
	color: #fff;
}

#image.form-control::before {
	color: rgb(108, 117, 125);
	content: 'Upload Foto Mobil';
}

#image.form-control::file-selector-button,
#image.form-control::-webkit-file-upload-button {
	display: none;
}
